body
{
	color: #373737;
	background-color: 	#F4F4F4;
	font: 1em/1.2 Arial, Helvetica, sans-serif;
}

h1 { font-size: 1em; }
h2 { font-size: 2em; }
h3 { font-size: 2.5em; } 
h4 { font-size: 3em; }
h5 { font-size: 4em; } 

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 2;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.container
{
	max-width: 50em;
	margin: 0 auto;
	background-color: #fff;
}

.nav-bar
{
	background: #000;
	padding: 0;
}

.content { padding: 1em 1.25em; }

.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid black;
}

.nav a:hover
{
	color: white;
	background-color: green;
}

.btn
{
	color: #fff;
	background-color: royalblue;
	display: inline-block;
	padding: .5em 1em;
	text-align: center;
	border: 1px solid transparent;
	border-radius: .2em;
}

.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.header
{
	color: #ddd;
	background: #555;
	padding: 1em 1.25em;
}

.footer
{
	color: #fff;
	background: #000;
	padding: 1em 1.25em;
}

.header-heading { margin: 0; }
